In [3]:
import pandas as pd
import numpy as np

# local_filename = "nodes\\nodes1.csv"
# nodes1=pd.read_csv(local_filename,header=None)
# nodes1
local_filename = "nodes\\gps_nodes0.csv"
gps_nodes1=pd.read_csv(local_filename,header=None)
gps_nodes1

            0          1         2             3
0         0.0  108.99552  34.27822  1.539041e+09
1         0.0  108.99552  34.27786  1.539041e+09
2         0.0  108.99552  34.27748  1.539041e+09
3         0.0  108.99551  34.27708  1.539041e+09
4         0.0  108.99551  34.27668  1.539041e+09
...       ...        ...       ...           ...
126833  437.0  108.92344  34.24993  1.539474e+09
126834  437.0  108.92342  34.25015  1.539474e+09
126835  437.0  108.92339  34.25032  1.539474e+09
126836  437.0  108.92342  34.25040  1.539474e+09
126837  437.0  108.92344  34.25042  1.539474e+09

[126838 rows x 4 columns]

In [8]:
local_filename = "nodes\\gps_nodes0.csv"
gps_nodes0=pd.read_csv(local_filename,header=None)
gps_nodes0

            0          1         2             3
0         0.0  108.99552  34.27822  1.539041e+09
1         0.0  108.99552  34.27786  1.539041e+09
2         0.0  108.99552  34.27748  1.539041e+09
3         0.0  108.99551  34.27708  1.539041e+09
4         0.0  108.99551  34.27668  1.539041e+09
...       ...        ...       ...           ...
126833  437.0  108.92344  34.24993  1.539474e+09
126834  437.0  108.92342  34.25015  1.539474e+09
126835  437.0  108.92339  34.25032  1.539474e+09
126836  437.0  108.92342  34.25040  1.539474e+09
126837  437.0  108.92344  34.25042  1.539474e+09

[126838 rows x 4 columns]

找到一辆车结尾 与nodes0 比较 相接 直接append （不用当前表里的）
nodes0 要包括 车辆ID 经纬度 时间戳 （起始结尾都有）

In [5]:
# 当前id最后一条gps记录
cur_nodes=gps_nodes[gps_nodes.loc[:,0]==0].iloc[-1,:]
cur_nodes[1]

108.97799

In [24]:
append_num=pd.DataFrame(columns=['rel_no','append_no'])

In [ ]:
length=gps_nodes0.iloc[-1,0]
for i in range(0,int(length+1)):
    cur_nodes=gps_nodes0[gps_nodes0.loc[:,0]==i].iloc[-1,:]
    new_node_no=nodes1.iloc[((nodes1.loc[:,1]-cur_nodes[1]).abs()+(nodes1.loc[:,2]-cur_nodes[2]).abs()).argsort()]
    new_node_no=new_node_no[new_node_no.loc[:,0]>length]
    for k in range(0,20):
        if((append_num['append_no']!=new_node_no.iloc[k,0]).all()):
           new_node_no=new_node_no.iloc[k,0]
           break
    print(new_node_no)
    row={'rel_no':i,'append_no':int(new_node_no)}
    append_num=append_num.append(row,ignore_index=True)

In [26]:
append_num

    rel_no append_no
0        0      8254
1        1      6250
2        2      8055
3        3      2274
4        4       745
..     ...       ...
433    433      3231
434    434      3968
435    435      5425
436    436      9426
437    437      9109

[438 rows x 2 columns]

In [27]:
local_filename = "xianshi_1001_1015.zip\part-00000-3bbf0a7c-4528-4398-812b-03fe2dde0474-c000_{}.csv".format(k)
xian=pd.read_csv(local_filename,'r',header=None)
xian.iloc[8254,:]

C:\Users\Su_hy\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py:3251: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)

0    fa03e6eeb37929939431b4f1865e994c,a6b639aad480a...
Name: 8254, dtype: object

In [ ]:
for i in range(0,438):
    origin=append_num.iloc[i,0]
    append=append_num.iloc[i,1]
    x=xian.at[append,0]
    cur_nodes=gps_nodes0[gps_nodes0.loc[:,0]==i].iloc[-1,:]
    c_time=cur_nodes[3]
    row=x.split("\"")[1].split('[')[1].split(']')[0].split(',')
    x0=row[0]
    start_time=x0.split(' ',2)[2]
    start_time=int(start_time)
    time_difference=start_time-c_time-120
    # 120=2min
    for x in row[1:]:
      lo=x.split(' ',3)[1]
      la=x.split(' ',3)[2]
      time=x.split(' ',3)[3]
      lo=float(lo)
      la=float(la)
      time=int(time)-time_difference
      new_row={0:i,1:float(lo),2:float(la),3:int(time)}
      gps_nodes1=gps_nodes1.append(new_row,ignore_index=True)
gps_nodes1

In [4]:
local_filename = "nodes\\gps_nodes1.csv"
gps_nodes1=pd.read_csv(local_filename,header=None)
gps_nodes1=gps_nodes1.sort_values(by=3,ascending=True)
gps_nodes1

            0          1         2             3
37849   138.0  108.95433  34.27064  1.538754e+09
37850   138.0  108.95433  34.27064  1.538754e+09
37851   138.0  108.95432  34.27065  1.538754e+09
37852   138.0  108.95432  34.27065  1.538754e+09
37853   138.0  108.95430  34.27067  1.538754e+09
...       ...        ...       ...           ...
269933  426.0  108.95652  34.20620  1.539486e+09
269934  426.0  108.95651  34.20583  1.539486e+09
269935  426.0  108.95646  34.20544  1.539486e+09
269936  426.0  108.95649  34.20515  1.539486e+09
269937  426.0  108.95650  34.20500  1.539486e+09

[273667 rows x 4 columns]

In [11]:
type(gps_nodes1.iloc[2,:].tolist())

list